<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 name align-self">{{object.title}}</div>
<div class="col-lg-6 col-md-3 col-sm-12 col-xs-12 description align-self">{{object.description}}</div>
<div class="col-lg-1 col-md-2 col-sm-12 col-xs-12 price align-self">{{object.price}}</div>
<div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 popularity align-self">
    <i class="star{{object.popularity}}" ></i>
</div>
<a class="col-lg-1 col-md-2 col-sm-12 col-xs-12 align-self select-button" ng-click="hide()">Select</a>
